<!-- header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Analyzer Through BMI</title>
    <link rel="stylesheet" href="static/css/style.css">
     {% load bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
</head>
<body>
   <section>
         <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="static/images/logo.png" alt="">
        <h1 class="sitename">Stress Analyzer</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="./form.html">Form</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

</section><!--Header section end-->
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <img src="static/images/slide3.jpg" alt="" data-aos="fade-in">
    </section>
    <!-- /Hero Section -->



<!--About Section-->

  <!-- About Section -->
    <section id="about" class="about section section-bg dark-background">
        <div class="about-title">
            <a href="#" class="about-btn align-self-center align-self-xl-start">
                <span>About us</span>
            </a>
        </div>
      <div class="container position-relative">

        <div class="row gy-5">

          <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <h3>Stress Analyzer through BMI, Heart Rate. </h3>
            <p>
              Welcome to Stress Analyzer, where cutting-edge technology meets personalized wellness.
                We are dedicated to helping you understand and manage stress through a unique blend of biometric data analysis,
                focusing on the relationship between your body mass, weight, and heart rate.
                Our mission is to empower individuals to take control of their mental and physical health by providing accurate,
                actionable insights that reflect their stress levels.
            </p>
              <h3>Our Vision</h3>
              <p>We envision a world where everyone has the tools to understand and manage their
                  stress levels effectively. By harnessing the power of data,
                  we aim to make stress management a part of everyday life,
                  improving overall health and well-being.
                  Join us on this journey towards better health and a stress-free life.
                  With Stress Analyzer, understanding and managing stress has never been easier.</p>

          </div>

          <div class="col-xl-7">
            <div class="row gy-4">

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-briefcase"></i>
                <h4><a href="" class="stretched-link">Who We Are</a></h4>
                <p>At Stress Analyzer,
                    we are a team of passionate health tech enthusiasts, data scientists, and wellness experts. We believe that stress management should be accessible, personalized, and rooted in science. Our team combines decades of experience in healthcare, technology,
                    and data analytics to bring you a reliable tool that seamlessly integrates into your daily life.</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <h4><a href="" class="stretched-link">What We Do</a></h4>
                <p>Our advanced stress analysis system utilizes your body mass index (BMI),
                    weight variations, and heart rate By monitoring these key indicators, our platform can detect stress early, giving you the opportunity to make informed decisions about your well-being. Whether you're an athlete, a busy professional, or someone simply looking to improve your health,
                    our tool is designed to meet your needs</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <h4 style="color:red;"><a href="" class="stretched-link">Why Choose Us?</a></h4>

                  <p><h5>Personalized Insights:</h5>
                  We understand that stress affects everyone differently. Our analysis is tailored to your unique biometric data, ensuring that you receive the most relevant advice</br></br>
                  <h5>Data-Driven Approach:</h5>
                  Our platform is built on rigorous scientific research, ensuring that our stress analysis is both accurate and reliabl</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-easel"></i>
                <h4><a href="" class="stretched-link"></a></h4></br>
                  <p><h5>User-Friendly Interface:</h5> We pride ourselves on creating a seamless user experience. Our app and online platform are easy to navigate, making stress monitoring a breeze.</br></br>
                     <h5>Privacy and Security:</h5> Your data is safe with us. We adhere to the highest standards of privacy and security to ensure that your personal information is protected.</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->
    <!--Team Section End Here-->
    <div class="team-section" id="team">
    <h2>Meet Our Team</h2>
    <div class="team-container">
        <div class="team-member">
            <img src="static/images/team-member1.jpg" alt="Team Member 1">
            <h3>Saba Nisar Shaikh</h3>
            <p>Group Leader</p>
        </div>
        <div class="team-member">
            <img src="static/images/team-member1.jpg" alt="Team Member 3">
            <h3>Dua Khan</h3>
            <p>Group Member</p>
        </div>
    </div>
</div>
<!--Team Section End Here-->
<!--Contact section-->
<section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
          <a href="#contact">
              <h2>Contact</h2>
          </a>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-12">
            <form action="forms" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->
    <footer id="footer" class="footer dark-background">

    <div class="container copyright text-center mt-4">

      <p> © <span>Copyright</span> <strong class="px-1 sitename">Stress BMI</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="https://www.facebook.com/freelancer.engr">Saba Nisar Shaikh</a>
      </div>
    </div>

  </footer>

</main>

</body>

</html>
